<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.1.0/firebase-messaging.js"></script>

<script src="<%= Routes.static_path(@conn, "/js/noti.js") %>"></script>
