@import "./app/clean-blog.scss";
@import "~highlight.js/styles/night-owl";

pre{
  border: solid 1px
                aliceblue;
  border-radius: 7px;
}

code.inline{
  // background-color: bisque;
  padding: 0 4px;
  display: inline-block;
  border-radius: 3px;
  border: solid 1px bisque;
}

/**/
