<!doctype html>
<html lang="en" dir="ltr">
  <%= partial "head.html", assigns %>

  <body class="">

    <%= partial "navigation.html", assigns %>

    <%= render @view_module, @view_template, assigns %>

    <hr>

    <!-- Footer -->
    <%= partial "footer.html", assigns %>

    <script src="<%= Routes.static_path(@conn, "/js/commons.js") %>"></script>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <%= raw(render_existing(view_module(@conn), "scripts." <> view_template(@conn), assigns)) %>
  </body>
</html>

