<div class="post-preview">
  <a href="<%= Routes.post_path(@conn, :show, @post.slug) %>">
    <h4 class="post-title">
      <%= @post.title %>
    </h4>
  </a>
  
  <%= if @post.excerpt do %>
    <div class="post-subtitle my-2">
      <%= raw @post.excerpt %>
    </div>
  <% end %>

  <p class="post-meta"><%= gettext "Posted by" %>
    <a href="#"></a><%= @blog_info.author.fullname %>
    on <%= format_date(@post.published_at || @post.inserted_at) %></p>
</div>
<hr>
