.cm-s-mirrormark {
    &.CodeMirror {
        background: #f5f5f5;
        color: #202020;
    }

    div.CodeMirror-selected {
        background: #e0e0e0;
    }

    .CodeMirror-line::selection,
    .CodeMirror-line>span::selection,
    .CodeMirror-line>span>span::selection {
        background: #e0e0e0;
    }

    .CodeMirror-line::-moz-selection,
    .CodeMirror-line>span::-moz-selection,
    .CodeMirror-line>span>span::-moz-selection {
        background: #e0e0e0;
    }

    .CodeMirror-gutters {
        background: #f5f5f5;
        border-right: 0px;
    }

    .CodeMirror-guttermarker {
        color: #ac4142;
    }

    .CodeMirror-guttermarker-subtle {
        color: #b0b0b0;
    }

    .CodeMirror-linenumber {
        color: #b0b0b0;
    }

    .CodeMirror-cursor {
        border-left: 1px solid #505050;
    }

    span.cm-comment {
        color: #8f5536;
    }

    span.cm-atom {
        color: #aa759f;
    }

    span.cm-number {
        color: #aa759f;
    }

    span.cm-property,
    span.cm-attribute {
        color: #90a959;
    }

    span.cm-keyword {
        color: #ac4142;
    }

    span.cm-string {
        color: #f4bf75;
    }

    span.cm-variable {
        color: #90a959;
    }

    span.cm-variable-2 {
        color: #6a9fb5;
    }

    span.cm-def {
        color: #d28445;
    }

    span.cm-bracket {
        color: #202020;
    }

    span.cm-tag {
        color: #ac4142;
    }

    span.cm-link {
        color: #aa759f;
    }

    span.cm-error {
        background: #ac4142;
        color: #505050;
    }

    .CodeMirror-activeline-background {
        background: #DDDCDC;
    }

    .CodeMirror-matchingbracket {
        color: #f5f5f5 !important;
        background-color: #6A9FB5 !important
    }

    $color:         #202020;
    $text-lighter:         #444;
    $text-strong: #d28445;
    .cm-m-markdown{

      color: $text-lighter;
      
	    &.cm-header {
		    font-weight: bold;
	    }
	    &.cm-header-1 {
		    font-size: 28px;
	    }

	    &.cm-header-2 {
		    font-size: 22px;
	    }

	    &.cm-header-2 {
		    font-size: 18px;
	    }

      &.cm-variable-2, &.cm-variable-3{
		    color: $text-lighter;
      }

	    &.cm-quote {
		    color: $text-lighter;
		    padding: 5px;
	    }

	    &.cm-string {
		    color: #888;
	    }

	    &.cm-tag,
	    &.cm-link {
		    color: $text-strong;
	    }

	    &.cm-comment {
		    color: #888;
	    }

	    // There are issues where the first < of a HTML tag are classified
	    // with .cm-m-markdown.
	    &.cm-m-xml,
	    &.cm-bracket {
		    color: #170;
		    font-family: inherit;
	    }


    }

}
